<hr/>
<div class="row mt-5">
  <% @user ||= current_user %>
  <div class="stats center-align">
    <div class="col s6">
      <a href="<%= following_user_path(@user) %>">
        <h6>Following</h6>
        <h5 class="m-0"><%= @user.following.count %></h5>
      </a>
    </div>
    <div class="col s6">
      <a href="<%= followers_user_path(@user) %>">
        <h6>Followers</h6>
        <h5 class="m-0"><%= @user.followers.count %></h5>
      </a>
    </div>

  </div>
</div>
